/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* GLOBAL DARK/LIGHT THEME STYLES */

body {
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Segoe UI', sans-serif;
  }
  
  /* DARK MODE */
  body.dark-mode {
    background-color: #1E1E2F;
    color: #EAEAEA;
  }
  
  /* LIGHT MODE */
  body.light-mode {
    background-color: #F8F9FA;
    color: #212529;
  }
  
  
  